<!DOCTYPE html>
<html layout:decorator="layoutpage">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/libs/b335/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/assets/dashboard.css" rel="stylesheet"/>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div layout:fragment = "content">


    <h1 class="page-header">Grapes Web App</h1>





    <div class="container-fluid">
        <div class="row">

            
        </div>

        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a data-toggle="tab" href="#here">Home</a></li>
            <li role="presentation"><a data-toggle="tab" href="#profile">Profile</a></li>
            <li role="presentation"><a data-toggle="tab" href="#messages">Messages</a></li>
        </ul>

        <div class="tab-content">
            <div id="here" class="tab-pane fade in active">
               </div>
            <div id="profile" class="tab-pane fade">
               </div>
            <div id="messages" class="tab-pane fade">
               </div>
            <div id="dropdown2" class="tab-pane fade">
               </div>
        </div>
    </div>


</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/assets/libs/b335/js/bootstrap.min.js"></script>

</body>
</html>