<!DOCTYPE html>
<html layout:decorator="layoutpage">

<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="../../favicon.ico"/>

    <title>Dashboard Template for Bootstrap</title>
    <link rel="stylesheet" href="/assets/css/fuzzyDropdown.css"/>
    <!-- Bootstrap core CSS -->
    <link href="/assets/libs/b335/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="/assets/dashboard.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div layout:fragment="content">

    <div class="row header-row">

        <div class="col-sm-3 col-md-2">
            <h1 class="page-header">Artifact</h1>

        </div>

        <div class="col-sm-3 col-md-6">
            search container
            <!--artifactList-->
            <select class="form-control" id="artifactGroupIdsList">
                <option value="1">None Found
                </option>
            </select>
            <select class="form-control" id="artifactIdsList" style="display: none">
                <option value="1">None Found
                </option>


            </select>
            <select class="form-control" id="artifactVersionsList" style="display: none">
                <option value="1">None Found
                </option>


            </select>


        </div>


        <div class="col-sm-3 col-md-4">
           </div>


        <!-- Creation Modal -->
        <div class="modal fade" id="artModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Create new artifact</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <div id="createartName" class="col-sm-10">
                                <input type="text" class="form-control"
                                       name="artname" placeholder="Enter the name of the New artifact"/>
                                <input type="text" class="form-control"
                                       name="corpidlist" placeholder="Enter corps"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="formCloseBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="formSaveBtn" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

<!-- other modal-->
        <div class="modal fade" id="artifactUpdateModal" tabindex="-1" role="dialog" aria-labelledby="artifactModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="artifactModalLabel">Update the Artifact</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="editArtifact">

                            <div  class="col-sm-10">
                                <label for="idProvider">Provider</label>
                                <input type="text" class="form-control"
                                       name="provider" id="idProvider" placeholder="Enter the corrected name"/>

                                <label for='idUlr'>Download Url</label>
                                <input type="text" class="form-control" id="idUlr"
                                       name="downLoadUrl" placeholder="Enter the corrected name"/>


                                <label for="idDoNotUse">Do Not use </label>
                                <input type="checkbox" class="form-control" id="idDoNotUse"
                                       name="doNotUse" placeholder="Enter the corrected name"/>


                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="updateArtifactCloseBtn" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button id="updateArtifactSaveBtn" type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
<!-- Deletion Modal-->
        <div class="modal fade" id="deleteartModal" tabindex="-1" role="dialog" aria-labelledby="deleteartModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="deleteartModalLabel">Remove artifact from the System</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">

                            <P>Warning deleteing the artifact is a a permanent action and cannot be undone.</P>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="delCancelBtn" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="delProceedBtn" type="button" class="btn btn-primary">Proceed</button>
                </div>
            </div>
        </div>


    </div>
<!-- Navigation Tabs -->
    <div class="row row-2">
        <div class="container-fluid">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-toggle="tab" href="#artOverview">Overview</a></li>
                <li role="presentation"><a data-toggle="tab" href="#artAncestors">Ancestors</a></li>
                <li role="presentation"><a data-toggle="tab" href="#artLicenses">Licencense</a></li>
            </ul>
<!-- Navigation Tab views-->
            <div class="tab-content">

                <!-- Overview Tab-->
                <div id="artOverview" class="tab-pane fade in active">
                    <h3 id="artId"></h3>
                    <p id="artInfo">Please chose an artifact in the search box above to see an overview.</p>


                    <div id="artOverviewTable" class="col-md-6"></div>
                    <div id="artAdminTable" class="col-md-6"></div>
                    <div id="artLicTable" class="col-md-6">Licenses</div>
                </div>
                <div class="col-sm-3 col-md-6">
                    <button id="editArt" style="display:none" type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                            data-target="#artifactUpdateModal">
                        Update Artifact
                    </button>
                    <button id="saveArt" type="button" class="btn btn-danger btn-sm" style="display:none">
                        Save Lic
                    </button>
                </div>

                <!-- Admin Tab-->
                <div id="artAdmin" class="tab-pane fade">
                    <h3>Admin Tab</h3>

                    <p>Should only see this tab if you have the correct rights
                        don't break things!</p>

                    <!-- Button Groups-->

                </div>

                <!-- Artifact Ancestors Tab-->
                <div id="artAncestors" class="tab-pane fade">
                    <h3>Ancestors for artifact</h3>

                    <p id="ancestorInfoMsg">blahb lbah</p>
                    <div id="ancestorsList" class="col-md-6">

                    </div>
                </div>
                <!-- Artifact Licesne Tab (propably don't need)-->
                <div id="artLicenses" class="tab-pane fade">
                    <h3>Dropdown 2</h3>

                    <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit.
                        Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa
                        vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem.
                        Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/libs/jquery-1.11.3/jquery-1.11.3.min.js"></script>
<script src="/assets/libs/b335/js/bootstrap.min.js"></script>
<script src="/assets/js/fuse.min.js"></script>
<script src="/assets/js/fuzzyDropdown.min.js"></script>
<script src="/assets/js/webapp/artifact.js"></script>

</body>
</html>