<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
credentials
<p th:text="${admin}"></p>
lets make a hidden input field for each page with something in the session variable either admin or no
then we can check the admin field to decide to draw the elements. all the elements to draw for admin stuff should be in a seperate method
it can do an if check.
then everytime we autheniticate we can check it and on page reloads.

for logins if we get a reponse 401 we should pop a modal giveing auth stuff. we can try to inclue this into the layout template?
<p id="admin" th:value="${#session.getData()}"></p>
<input type="hidden" id="isAdmin" th:value="${#session.get('roles')}"/>
</body>
<script th:inline="javascript">
/*<![CDATA[*/


var username = /*[[${#session.getData()}]]*/ 'Sebastian';


/*]]>*/
</script>
<script src="/assets/libs/jquery-1.11.3/jquery-1.11.3.min.js"></script>
<script src="/assets/libs/b335/js/bootstrap.min.js"></script>
<script src="/assets/js/fuse.min.js"></script>
<script src="/assets/js/fuzzyDropdown.min.js"></script>
<script src="/assets/js/webapp/tinyscript.js"></script>

</html>