.grapes-ariane-navbar {
    display: inline-block;
    margin-top:15;
 }

.grapes-ariane-navbar .navbar-inner ul li a {
    padding-right:0;
    padding-left:0;
}

.grapes-ariane-navbar .navbar-inner .nav .dropdown .dropdown-menu li a {
     padding-right:20;
     padding-left:20;
 }

/* Main search form holder*/
 #searchForm{
     border:none;
     margin-top: 5%;
     text-align: center;
     height: 10em;
 }

/* Search input */
 #s{
     color :#888888;
     background:url("/assets/img/search.png") no-repeat;
     background-size: 1.5em;
     background-position: 0.4em;
     font-family:Arial,Helvetica,sans-serif;
     font-size: 1.8em;
     height: 2em;
     margin: auto;
     outline:medium none;
     padding:0 0 0 2.2em;
     text-shadow:1px 1px 0 white;
     width: 70%;
 }

/* Search button */
 #submitButton{
     background-color: #157EFB;
     color: #ffffff;
     width: 18%;
     height: 2em;
     overflow: hidden;
     cursor: pointer;
     -moz-border-radius: 0.5em;
     -webkit-border-radius: 0.5em;
     border-radius: 0.5em;
     font-size: 1.8em;
 }

/* Search input and button wrapper */
 .searchText {
    width: 50%;
    margin: auto;
    height: 6em;
 }

/* Search radio and checkbox wrapper */
 .optionWrapper {
    width: 44%;
    display: inline-block;
    position: relative;
  }

/* Search radio wrapper */
 .searchRadio {
    position: absolute;
 }

/* Search checkbox wrapper */
 .searchCheckbox {
    position: absolute;
    margin-left: 20em;
  }

 .searchRadio label, .searchCheckbox label{
    float: left;
    margin-left: 0.5em;
    font-size: 1.3em;
 }

 .searchRadio input, .searchCheckbox input{
    float: left;
    margin-left: 2em;
 }

 .searchRadio input:first-child, .searchCheckbox input:first-child{
    margin-left: 0px;
 }

 #searchResultWrapper {
    width: 80%;
    margin: auto;
 }

 .search-table {
    float: left;
    width: 50%;
 }

/* Disabled style */
 input:disabled {
    background:#dddddd;
 }

 input:disabled+label{
    color:#ccc;
 }

 /* Loading modal*/
 .overlay {
    display: none;
    position:fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.85);
    text-align:center;
    z-index: 1000;
    filter:alpha(opacity=50) !important;
    opacity:0.5;
  }

.loadingMessage {
    position: fixed;
    left: 43%;
    top: 45%;
    color:#F1F1F1 !important;
    text-align:center;
    font-size: 2em;
}

body {
    min-width: 1110px;
}

.help-block {
    color: red;
    height: 1em;
    font-size: 1.3em;
    text-align: left;
    margin-left: 2.7em;
    float: left;
}

.secondAnchor {
    margin-left: 2em;
    color: #157EFB;
}